*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1f1d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.title {
  color: #f0f0f0;
  text-align: center;
  margin: 30px;
}
.row {
  width: 80%;
  min-height: 80px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.row1 {
  display: flex;
  align-items: center;
}
.icon-search {
  background-color: #fff !important;
  border-radius: 50%;
  padding: 5px 5px 3px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}
.icon-search svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.fav-button {
  padding: 16px 20px;
  border: #dd49ab;
  background-color: #dd49ab;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bolder;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s linear;
}
.fav-button:hover {
  background-color: #e4149e;
}
@media (max-width: 575px) {
  .row {
    flex-wrap: wrap;
    gap: 20px;
  }
}
